<component name="libraryTable">
  <library name="spring.webmvc" type="repository">
    <properties maven-id="spring:spring-webmvc:1.0.2" />
    <CLASSES>
      <root url="jar://$MAVEN_REPOSITORY$/spring/spring-webmvc/1.0.2/spring-webmvc-1.0.2.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>