<component name="libraryTable">
  <library name="spring.orm" type="repository">
    <properties maven-id="spring:spring-orm:1.0.2" />
    <CLASSES>
      <root url="jar://$MAVEN_REPOSITORY$/spring/spring-orm/1.0.2/spring-orm-1.0.2.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>